@import url(https://fonts.googleapis.com/css?family=Climate+Crisis:regular);

@import url(https://fonts.googleapis.com/css?family=Prompt:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    font-family: Prompt;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url("images/pexels-steve-johnson-1902415.jpg");
}

p { 
    font-size: 50px;
    font-family: Climate Crisis;
}

.huytainer {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}

button {
    border-radius: 8px;
    padding: 25px;
    padding-inline: 75px;
    font-size: 20px;
    flex: 1;
}

.title {
    flex: 3;
}

.container {
    width: 960px;
    height: 540px;  
    display: grid;    
}

.container div {
    border: 2px solid rgb(16, 43, 54);
}